<html>
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
    </head>
    <body>
        <form action = "" method = "POST" enctype = "application/x-www-form-urlencoded">
            <p>ID Device</p>
            <input type = "text" name = "txtID" placeholder = "ID" /> <br/>

            <p>Temp</p>
            <input type = "text" name = "txtValue_1" placeholder = "123" /> <br/>

            <p>Humid</p>
            <input type = "text" name = "txtValue_2" placeholder = "123" /> <br/>

            <p>Topic</p>
            <input type = "text" name = "txtTopic" placeholder = "light, temp, ....." /> <br/>
            
            <p></p>
            <input type = "submit" name = "btnThem" value = "Publish" />

        </form>
    </body>
</html>